body {
  display: flex;
  flex-direction: column;
  background-color: gray;
}
main {
  display:flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  background-color: gray;
}

aside {
  flex:1;
  overflow-y: auto;
}
